.active{
    font-weight: bold !important;
    font-size: 14px !important;
}
.check-icom-overview{
    font-size: 18px !important;
    position: relative !important;
    top: 4px !important;
    right: 5px !important;
}